.osteo-border-transform,
.osteo-background-top,
.osteo-background-right,
.osteo-background-bottom,
.osteo-background-left,
.osteo-rotate-rectangle,
.osteo-rotate-rectangle-in,
.osteo-rectangle-out,
.osteo-rectangle-in,
.osteo-pointer-top-left,
.osteo-pointer-top-right,
.osteo-pointer-bottom-left,
.osteo-pointer-bottom-right,
.osteo-ripple-out {
    position: relative;
    background: none;
    border: 4px solid #d30c5c;
    z-index: 10;
    transition: 0.8s;
}

.osteo-border-transform:before,
.osteo-border-transform:after {
    position: absolute;
    content: "";
    height: 6px;
    width: 14px;
    background: #222;
    transform: skew(50deg);
    transition: 0.8s;
    z-index: 10;
}

.osteo-border-transform:before {
    top: -5px;
    left: 10%;
}

.osteo-border-transform:after {
    bottom: -5px;
    right: 10%;
}

.osteo-border-transform:hover::before {
    left: 70%;
}

.osteo-border-transform:hover::after {
    right: 70%;
}

.osteo-background-top:after,
.osteo-background-right:after,
.osteo-background-left:after,
.osteo-background-bottom:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 4%;
    content: '';
    background: #D30C5C;
    height: 100%;
    transition: .8s;
}

.osteo-background-top:after {
    width: 100%;
    height: 8%;
    bottom: 0;
    top: auto;
}

.osteo-background-top:hover::after {
    height: 100%;
    z-index: -1;
}

.osteo-background-right:hover:after,
.osteo-background-left:hover:after {
    width: 100%;
    z-index: -1;
}

.osteo-background-bottom:after {
    width: 100%;
    z-index: -1;
    height: 8%;
}

.osteo-background-bottom:hover::after {
    height: 100%;
}

.osteo-background-left::after {
    left: auto;
    right: 0;
}

.osteo-rotate-rectangle:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #D30C5C;
    z-index: -1;
    transform: scale(.5);
    transition: .8s;
    opacity: 0;
    visibility: hidden;
}

.osteo-rotate-rectangle:hover:before {
    opacity: 1;
    visibility: visible;
    transform: rotate(180deg);
}

.osteo-rotate-rectangle-in:hover {
    color: #D30C5E;
    border-color: #fff;
}

.osteo-rotate-rectangle-in:before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
    width: 30%;
    height: 100%;
    margin: 0 auto;
    transform: rotate(45deg);
    transition: .8s;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

.osteo-rotate-rectangle-in:hover::before {
    transform: rotate(0);
    width: 100%;
    opacity: 1;
    visibility: visible;
}

.osteo-rectangle-out {
    background: none;
    border: 4px solid #D30C5C;
    position: relative;
    z-index: 1;
}

.osteo-rectangle-out:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #D30C5C;
    z-index: -1;
    transform: scale(0.6);
    opacity: 0;
    visibility: hidden;
    transition: .8s;
}

.osteo-rectangle-out:hover:after {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.osteo-rectangle-in:hover::after {
    transform: scale(0);
}

.osteo-rectangle-in:before,
.osteo-rectangle-in:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: #222;
    z-index: -1;
    transition: 0.3s;
}

.osteo-rectangle-in:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #D30C5E;
}

.osteo-pointer-top-left:before,
.osteo-pointer-top-right:before,
.osteo-pointer-bottom-left:before,
.osteo-pointer-bottom-right:before {
    position: absolute;
    left: -4px;
    top: -4px;
    width: 20px;
    height: 20px;
    content: "";
    background: #D30C5E;
    border-radius: 50%;
    transition: .8s;
    z-index: -1;
}

.osteo-pointer-top-left:hover::before,
.osteo-pointer-top-right:hover::before,
.osteo-pointer-bottom-left:hover::before,
.osteo-pointer-bottom-right:hover::before {
    width: 100%;
    height: 100%;
    border-radius: 0;
    left: 0;
    top: 0;
}

.osteo-pointer-top-right::before {
    left: auto;
    right: -4px;
}

.osteo-pointer-top-right:hover::before {
    right: 0;
    left: auto;
}

.osteo-pointer-bottom-left::before {
    top: auto;
    bottom: -4px
}

.osteo-pointer-bottom-left:hover::before {
    top: auto;
    bottom: 0;
}

.osteo-pointer-bottom-right::before {
    left: auto;
    right: -4px;
    top: auto;
    bottom: -4px;
}

.osteo-pointer-bottom-right:hover::before {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
}

.osteo-ripple-out:before,
.osteo-ripple-out:after {
    content: '';
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    background: #222;
    z-index: -1;
}

.osteo-ripple-out:before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #D30C5E;
}

.osteo-ripple-out:hover:after {
    transition: 0.5s;
    background: #D30C5E;
    transform: scale(2);
    opacity: 0;
}